@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@layer base {
	.navBtn {
		@apply flex space-x-2 hover:text-custom-green hover:scale-105;
	}
	.navP {
		@apply text-slate-lightest hover:text-custom-green;
	}
	.sidebar-btn {
		@apply text-custom-white h-5 w-5 cursor-pointer py-5 duration-300 
				hover:-translate-y-1 hover:scale-110 ease-in-out hover:text-custom-green;
	}
	.input-form {
		@apply h-10 w-72 rounded-md p-5 focus:outline-none focus:ring-4 focus:ring-offset-navy-dark;
	}
	.contact-btn {
		@apply h-14 w-40 md:flex border rounded-md border-custom-green text-custom-green  items-center justify-center hover:bg-custom-green-transparent  animate-fadedown;
	}
}

@layer utilities {
	.writing-mode {
		writing-mode: vertical-rl;
	}
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #0a192f;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #8892b0;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #8892b0;
	}
	/* SPINNER */
	.loader {
		border-top-color: #020c1b;
		-webkit-animation: spinner 1.5s linear infinite;
		animation: spinner 1.5s linear infinite;
	}

	@-webkit-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
